<div class="container">
  <h1 class="title">Анкета</h1>
  <h1 *ngIf="loading">Loading...</h1>

  <div *ngIf="!loading">
    <div *ngFor="let item of form.data">
      <app-single-input [data]="item" *ngIf="item.type === 'input'"
                      [(ngModel)]="item.value"></app-single-input>
      <app-multiple-input [data]="item" *ngIf="item.type === 'multiple-input'"></app-multiple-input>
      <app-number [data]="item" *ngIf="item.type === 'number'"
                       [(ngModel)]="item.value"></app-number>

      <app-select [data]="item " *ngIf="item.type === 'select'"></app-select>

      <app-checkbox [data]="item" *ngIf="item.type === 'checkbox'"></app-checkbox>
    </div>
    <button class="btn"
            (click)="sendDataHandler()"
            [class.btn-disabled]="!formIsFilled"
            [disabled]="!formIsFilled"
    >
      Отправить
    </button>
  </div>

</div>
