<div class="wrap">
  <div class="display">

    <p class="label">
      {{data.label}}<span *ngIf="data.required">*</span>
    </p>

    <div
      [class.extra_one]="data.extraValues && data.extraValues.length === 0"
      [class.extra_multiple]="data.extraValues && data.extraValues.length > 0"
    >

      <div class="default-input">
        <input
          class="input"
          [(ngModel)]="data.value"
          [placeholder]="data.placeholder || ''"

        >
      </div>
      <div class="extra-input" *ngFor="let val of data.extraValues; let i = index; trackBy: trackByFn">
        <input
          *ngIf="data.extraValues"
          class="input"
          [value]="data.extraValues[i]"
          [placeholder]="data.placeholder || ''"
        >
        <div *ngIf="data.extraValues" class="remove-btn" (click)="removeExtraInput(i)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x"
               viewBox="0 0 16 16">
            <path
              d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
          </svg>
        </div>

      </div>
    </div>

    <div *ngIf="data.extraValues" class="add-btn" (click)="addExtraInput()">
      <img src="../../../assets/plus-circle.svg" alt="">
      <span>Добавить еще</span>
    </div>
  </div>

  <p *ngIf="data.description" class="description">{{data.description}}</p>
</div>

