
.container {
  max-width: 800px;
  padding: 1rem;
  margin: 0 auto;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  margin: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fafafa;
  padding: 1rem;

  input {
    height: 30px;
    outline: none;
    border: 1px solid #eee;
    border-radius: 5px;
    margin-bottom: 1rem;
  }

}
