.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.checkbox {
  display: flex;
  margin-bottom: 1rem;

  .checkbox-square {
    width: 15px;
    height: 15px;
    border: 1px solid #C3C3C3;
    border-radius: 3px;
    cursor: pointer;


    img {
      width: 11px;
      height: 10px;
      margin: 2.5px 2px;
    }
  }

  .checked {
    background: #FFE783;
  }

  input {
    display: none;
  }

  label {
    cursor: pointer;
  }

  span {
    margin-left: .4rem;
  }
}


@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }
}
