<div class="wrap display">
  <p class="label">
    {{data.label}}<span *ngIf="data.required">*</span>
  </p>
  <div class="select" >

    <div class="input">
      <div (click)="setOpenState(true)">{{currChoice}}</div>
    </div>
    <div class="select-options" *ngIf="selectIsOpen">
      <p
        *ngFor="let option of data.choices; let i = index"
        (click)="setCurrent(i)"
        [class.current]="data.currentChoice === i"
      >
        {{option}}
      </p>

    </div>
  </div>
</div>
<p *ngIf="data.description" class="description">{{data.description}}</p>
