
.container {
  width: calc(300px - 1.35rem);
  max-height: min-content;
}

.multiple {
  width: calc(300px - 1.35rem + 26px + .5rem);;
  height: min-content;
}

.multiple-input {
  display: flex;
  position: relative;
  margin-bottom: .5rem;
}

.add-btn {
  display: flex;
  align-items: center;
  height: 46px;
  cursor: pointer;
  margin: auto 0 .5rem .5rem;

  img {
    width: 26px;
    height: 26px;

    &:hover {
      opacity: .6;
    }
  }
  span {
    margin-left: .25rem;
  }
}

.remove-btn {
  height: 46px;
  align-items: center;
  margin-left: .5rem;

  svg {
    color: #fff;
    width: 26px;
    height: 26px;
    background: #FC6363;
    border-radius: 50%;
    margin-top: 10px;
  }
}

@media (max-width: 460px) {
  .add-btn {
    span {
      display: none;
    }
  }
}
