

.input {
  max-width: 70px;

  &::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
    display: none;
  }

  .input-plus {
    background: #9D9D9D;
    transform: matrix(0.71, -0.71, -0.71, -0.71, 0, 0);
    width: 10px;
    height: 10px;
  }

}
  .input-controls {
    margin: auto 5px ;
    height: 44px;


    button {
      display: block;
      border: none;
      background: #DFDFDF;
      border-radius: 2px;

      width: 30px;
    }

    img {
      margin: 0 auto;
      width: 15px;
      height: 15px;
      //padding: 0 10px;
      opacity: .3;

    }
    :nth-child(2) {
      border-top: 1px solid #9D9D9D
    }
  }
