<div class="wrap display">
  <p class="label">
    {{data.label}}<span *ngIf="data.required">*</span>
  </p>
  <input class="input" type="text" (keyup)="onChange($event)" [value]="data.value"
         [placeholder]="data.placeholder || ''">
  <div class="input-controls">
    <button (click)="setValue(1)">
      <img src="../../../assets/caret-up.svg" alt="sort-up">
    </button>
    <button>
      <img (click)="setValue(-1)" src="../../../assets/caret-down.svg" alt="sort-up">
    </button>
  </div>
</div>
<p *ngIf="data.description" class="description">{{data.description}}</p>
