.start-btn {
  border: 1px solid #ccc;
  height: 3rem;
  background: #FFE783;
  margin: 1rem;
  font-size: 14px;
  padding: 0 .5rem;
  align-items: center;
  text-decoration: none;

  &:hover {
    background: #FBE891;
    color: #4C452B;
    cursor: pointer;
  }
}
